<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        .correct-option {
            color: blue;
        }
    </style>
</head>
<body>
<span class="paragraph-sentence">This July,
    <span style="font-style:italic">Horse and Rider</span> will celebrate its 27th anniversary. Since its first issue was published in January of 1980,
    <span style="font-style:italic">Horse and Rider</span> has continued to bring its readers tasteful but entertaining articles covering everything about horses.
    <span class="q158-1">To celebrate our anniversary, we are offering a special promotion to all our readers:</span> a free three-month subscription. Plus, you will receive our special anniversary issue, which will be published at the end of July.
    <span class="q159-1">This special issue will feature an article about Marjorie Clemmons, the Senior Editor</span> and founder of
    <span style="font-style:italic">Horse and Rider</span>.
</span>

<span class="paragraph-sentence">Tháng 7 này,
    <span style="font-style:italic">Horse and Rider</span> sẽ kỷ niệm 27 năm thành lập. Kể từ số đầu tiên phát hành vào năm 1980,
    <span style="font-style:italic">Horse and Rider</span> vẫn tiếp tục mang đến cho quý đọc giả những bài viết hay và mang tính giải trí về mọi thứ liên quan đến ngựa. Để kỷ niệm, chúng tôi cung cấp khuyến mãi đặc biệt cho tất cả bạn đọc: miễn phí đăng ký báo cho 3 tháng. Còn nữa,
    các bạn sẽ nhận được số báo kỷ niệm đặc biệt của chúng tôi được phát hành vào cuối tháng 7. Số đặc biệt này sẽ viết về Marjorie Clemmons, biên tập viên cấp cao và nhà sáng lập của
    <span style="font-style:italic">Horse and Rider</span>.</span>

   <ol class="mcqs-wrapper">
    <li id="mcq-0" class="mcq-wrapper">
        <div class="mcq-question">Why did Katherine Fields write this letter?</div>
        <ul class="options">
            <li>
                <input type="radio" id="mcq-0-option-A" name="mcq-0-option" value="A">
                <label for="mcq-0-option-A">(A) To introduce a special offer</label>
            </li>
            <li>
                <input type="radio" id="mcq-0-option-B" name="mcq-0-option" value="B">
                <label for="mcq-0-option-B">(B) To remind readers to renew their subscription</label>
            </li>
            <li>
                <input type="radio" id="mcq-0-option-C" name="mcq-0-option" value="C">
                <label for="mcq-0-option-C">(C) To ask customers about their subscription preference.</label>
            </li>
            <li>
                <input type="radio" id="mcq-0-option-D" name="mcq-0-option" value="D">
                <label for="mcq-0-option-D">(D) To invite clients to the ceremony</label>
            </li>
        </ul>
    </li>
    <li id="mcq-1" class="mcq-wrapper">
        <div class="mcq-question">Who will be featured in the anniversary issue?</div>
        <ul class="options">
            <li>
                <input type="radio" id="mcq-1-option-A" name="mcq-1-option" value="A">
                <label for="mcq-1-option-A">(A) A famous rider</label>
            </li>
            <li>
                <input type="radio" id="mcq-1-option-B" name="mcq-1-option" value="B">
                <label for="mcq-1-option-B">(B) A new employee</label>
            </li>
            <li>
                <input type="radio" id="mcq-1-option-C" name="mcq-1-option" value="C">
                <label for="mcq-1-option-C">(C) The winner of the race</label>
            </li>
            <li>
                <input type="radio" id="mcq-1-option-D" name="mcq-1-option" value="D">
                <label for="mcq-1-option-D">(D) The Senior Editor</label>
            </li>
        </ul>
    </li>
    <li id="mcq-2" class="mcq-wrapper">
        <div class="mcq-question">According to the letter, how can readers get their comments published?</div>
        <ul class="options">
            <li>
                <input type="radio" id="mcq-2-option-A" name="mcq-2-option" value="A">
                <label for="mcq-2-option-A">(A) By writing a letter to the editor</label>
            </li>
            <li>
                <input type="radio" id="mcq-2-option-B" name="mcq-2-option" value="B">
                <label for="mcq-2-option-B">(B) By submitting a review online</label>
            </li>
            <li>
                <input type="radio" id="mcq-2-option-C" name="mcq-2-option" value="C">
                <label for="mcq-2-option-C">(C) By contacting the PR department</label>
            </li>
            <li>
                <input type="radio" id="mcq-2-option-D" name="mcq-2-option" value="D">
                <label for="mcq-2-option-D">(D) By calling Marjorie Clemmons</label>
            </li>
        </ul>
    </li>
    <li id="mcq-3" class="mcq-wrapper">
        <div class="mcq-question">Which of the following is mentioned about Horse and Rider?</div>
        <ul class="options">
            <li>
                <input type="radio" id="mcq-3-option-A" name="mcq-3-option" value="A">
                <label for="mcq-3-option-A">(A) It is the only magazine of its kind.</label>
            </li>
            <li>
                <input type="radio" id="mcq-3-option-B" name="mcq-3-option" value="B">
                <label for="mcq-3-option-B">(B) It is over thirty years old.</label>
            </li>
            <li>
                <input type="radio" id="mcq-3-option-C" name="mcq-3-option" value="C">
                <label for="mcq-3-option-C">(C) It is very successful.</label>
            </li>
            <li>
                <input type="radio" id="mcq-3-option-D" name="mcq-3-option" value="D">
                <label for="mcq-3-option-D">(D) It is changing owners.</label>
            </li>
        </ul>
    </li>
</ol>



<ol class="mcqs-wrapper">
    <li id="mcq-0" class="mcq-wrapper">
        <div class="mcq-question">Why did Katherine Fields write this letter?
            <span class="question-translation"> → Tạo sao Katherine Fields viết thư này?</span>
        </div>
        <ul class="options">
            <li>
                <input type="radio" id="mcq-0-option-A" name="mcq-0-option" value="A" disabled="">
                <label for="mcq-0-option-A" class="correct-option">(A) To introduce a special offer</label>
                <span class="option-translation"> → Để giới thiệu một khuyến mãi đặc biệt</span>
            </li>
            <li>
                <input type="radio" id="mcq-0-option-B" name="mcq-0-option" value="B" disabled="">
                <label for="mcq-0-option-B">(B) To remind readers to renew their subscription</label>
                <span class="option-translation"> → Để nhắc bạn đọc tiếp tục đăng ký báo</span>
            </li>
            <li>
                <input type="radio" id="mcq-0-option-C" name="mcq-0-option" value="C" disabled="">
                <label for="mcq-0-option-C" class="wrong-option">(C) To ask customers about their subscription preference.</label>
                <img class="wrong-icon" src="/static/ToeicTests/images/wrong_answer_icon.png">
                <span class="option-translation"> → Để thăm dò ý kiến khách hàng về loại báo mà họ thích đăng ký</span>
            </li>
            <li>
                <input type="radio" id="mcq-0-option-D" name="mcq-0-option" value="D" disabled="">
                <label for="mcq-0-option-D">(D) To invite clients to the ceremony</label>
                <span class="option-translation"> → Để mời khách hàng đến buổi lễ</span>
            </li>
        </ul>
        <div class="explanation">Ta thấy ý này trong câu "
            <span class="quote quote-q158-1">To celebrate our anniversary, we are offering a special promotion to all our readers:</span>"</div>
    </li>
    <li id="mcq-1" class="mcq-wrapper">
        <div class="mcq-question">Who will be featured in the anniversary issue?
            <span class="question-translation"> → Số báo đặc biệt sẽ viết về ai?</span>
        </div>
        <ul class="options">
            <li>
                <input type="radio" id="mcq-1-option-A" name="mcq-1-option" value="A" disabled="">
                <label for="mcq-1-option-A">(A) A famous rider</label>
                <span class="option-translation"> → Một người cưỡi ngựa nổi tiếng</span>
            </li>
            <li>
                <input type="radio" id="mcq-1-option-B" name="mcq-1-option" value="B" disabled="">
                <label for="mcq-1-option-B" class="wrong-option">(B) A new employee</label>
                <img class="wrong-icon" src="/static/ToeicTests/images/wrong_answer_icon.png">
                <span class="option-translation"> → Một nhân viên mới</span>
            </li>
            <li>
                <input type="radio" id="mcq-1-option-C" name="mcq-1-option" value="C" disabled="">
                <label for="mcq-1-option-C">(C) The winner of the race</label>
                <span class="option-translation"> → Người thắng cuộc đua</span>
            </li>
            <li>
                <input type="radio" id="mcq-1-option-D" name="mcq-1-option" value="D" disabled="">
                <label for="mcq-1-option-D" class="correct-option">(D) The Senior Editor</label>
                <span class="option-translation"> → Biên tập viên cấp cao</span>
            </li>
        </ul>
        <div class="explanation">Ta thấy ý này trong câu: "
            <span class="quote quote-q159-1">This special issue will feature an article about Marjorie Clemmons, the Senior Editor</span>"</div>
    </li>
    <li id="mcq-2" class="mcq-wrapper">
        <div class="mcq-question">According to the letter, how can readers get their comments published?
            <span class="question-translation"> → Theo như lá thư, làm sao để nhận xét của bạn đọc được đăng lên?</span>
        </div>
        <ul class="options">
            <li>
                <input type="radio" id="mcq-2-option-A" name="mcq-2-option" value="A" disabled="">
                <label for="mcq-2-option-A">(A) By writing a letter to the editor</label>
                <span class="option-translation"> → Bằng cách viết thư cho ban biên tập</span>
            </li>
            <li>
                <input type="radio" id="mcq-2-option-B" name="mcq-2-option" value="B" disabled="">
                <label for="mcq-2-option-B" class="correct-option">(B) By submitting a review online</label>
                <img class="correct-icon" src="/static/ToeicTests/images/correct_answer_icon.png">
                <span class="option-translation"> → Bằng cách gửi nhận xét trực tuyến</span>
            </li>
            <li>
                <input type="radio" id="mcq-2-option-C" name="mcq-2-option" value="C" disabled="">
                <label for="mcq-2-option-C">(C) By contacting the PR department</label>
                <span class="option-translation"> → Bằng cách liên lạc với phòng Quan hệ công chúng</span>
            </li>
            <li>
                <input type="radio" id="mcq-2-option-D" name="mcq-2-option" value="D" disabled="">
                <label for="mcq-2-option-D">(D) By calling Marjorie Clemmons</label>
                <span class="option-translation"> → Bằng cách gọi cho Marjorie Clemmons</span>
            </li>
        </ul>
        <div class="explanation">Ta thấy ý này trong câu: "
            <span class="quote quote-q160-1">if you would like to be included in our From the Readers section, please visit our website www.horseandrider.com and submit your review electronically.</span>" Có nghĩa là bạn đọc lên trang web www.horseandrider.com viết nhận xét và gửi.</div>
    </li>
    <li id="mcq-3" class="mcq-wrapper">
        <div class="mcq-question">Which of the following is mentioned about Horse and Rider?
            <span class="question-translation"> → Ý nào sau đây được đề cập về Horse and Rider?</span>
        </div>
        <ul class="options">
            <li>
                <input type="radio" id="mcq-3-option-A" name="mcq-3-option" value="A" disabled="">
                <label for="mcq-3-option-A">(A) It is the only magazine of its kind.</label>
                <span class="option-translation"> → Nó là tạp chí duy nhất thuộc dạng này.</span>
            </li>
            <li>
                <input type="radio" id="mcq-3-option-B" name="mcq-3-option" value="B" disabled="">
                <label for="mcq-3-option-B" class="wrong-option">(B) It is over thirty years old.</label>
                <img class="wrong-icon" src="/static/ToeicTests/images/wrong_answer_icon.png">
                <span class="option-translation"> → Nó có hơn 30 năm rồi.</span>
            </li>
            <li>
                <input type="radio" id="mcq-3-option-C" name="mcq-3-option" value="C" disabled="">
                <label for="mcq-3-option-C" class="correct-option">(C) It is very successful.</label>
                <span class="option-translation"> → Nó rất thành công.</span>
            </li>
            <li>
                <input type="radio" id="mcq-3-option-D" name="mcq-3-option" value="D" disabled="">
                <label for="mcq-3-option-D">(D) It is changing owners.</label>
                <span class="option-translation"> → Nó đang đổi chủ.</span>
            </li>
        </ul>
        <div class="explanation">Ta thấy ý này trong câu: "
            <span class="quote quote-q161-1">We thank you for your continued support, which has helped us become the most popular horse magazine in the country.</span>"
            <br> Horse and Rider là tạp chí NỔI TIẾNG NHẤT về ngựa ở trong nước chứ KHÔNG PHẢI là tạp chí DUY NHẤT về ngựa -&gt; loại A.
            <br> Tháng 7 này là kỷ niệm 27 năm -&gt; không thể hơn 30 năm được -&gt; loại B.
            <br> Không đề cập đến D -&gt; loại D.</div>
    </li>
</ol>

</body>
</html>