<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<ul id="part-mcqgroup-quiz" class="part-quiz mcq-group-wrapper" style="">
    <li>
        <div class="read-questions-instructions" style="display: none">
            <p style="font-weight: bold;">Bạn hãy tranh thủ đọc trước câu hỏi và các lựa chọn.</p>
            <p>
                <span class="first-part">Audio sẽ bắt đầu play</span>
                trong
                <span class="time-in-secs"></span> giây nữa.
            </p>
        </div>
        <div class="mcq-group-content" style="display: none;"></div>
        <div class="mcq-group-content-exp" style="display: block;">
            <div class="audio-player-wrapper" style="display: none;">
                <audio controls="">
                    <source src="" type="audio/mpeg">
                    <span class="error">Trình duyệt Web của bạn không hỗ trợ chức năng nghe audio của chúng tôi.</span>
                </audio>
            </div>
            <div class="content-translation">
                <p class="reading-text-paragraph" style="">
                    <span class="paragraph-sentence">Bà Sandra Marcus được bổ nhiệm là Giám đốc điều hành của công ty Crantel.</span>


                    <span class="paragraph-sentence">Công ty Crantel đã thông báo họ đã chọn bà Sandra Marcus, Giám đốc trước đây của Kentoch, để quản lý nhóm cải cách tài chính bắt đầu ngày 3 tháng Bảy. Phó phòng quan hệ công chúng, ông Nick Tucker, ngày hôm qua cho biết: "Bà Marcus
                        đã rất thành công trong việc biến Kentoch thành một công ty có lợi nhuận cao, và chúng tôi mong chờ việc có thêm bà ở công ty đang gặp vấn đề ở buổi ra mắt công ty đồ chơi ở Scotland". "Sandra Marcus d49 thể hiện một lần nữa khả
                        năng của bà bằng cách tăng doanh số, lợi nhuận và số khách hàng" Ông Tucker tiếp tục:"Chúng tôi rất vui được làm việc với bà Marcus và cảm thấy tự tin rằng bà có thể đưa ra sự giúp đỡ và cảm hứng cần thiết để biến Crantel thành
                        một công ty có lợi nhuận."</span>
                </p>
                <p class="reading-text-paragraph" style="">
                    <span class="paragraph-sentence">Công ty Crantel đã trải qua những năm tháng thành công kể từ khi được thành lập năm 1984. Cho đến cuối những năm 1990, công ty sản xuất đồ chơi này đã nằm trong số 5 công ty dẫn đầu ở châu Âu và đã mở rộng dòng sản phẩm sang châu Á
                        và Bắc Mỹ. Doanh số bắt đầu có vấn đề khi một vụ kiện xảy ra do một khách hàng co rằng một trong những món đồ chơi phổ biến nhất của Crantel suýt nữa thì giết đứa con trai 8 tuổi của bà. Vụ kiện đã được giải quyết, và người mẹ
                        thừa nhận rằng con trai của cô đã tự gây tai nạn cho mình. Tuy nhiên, dư luận vẫn không quên, và công ty từ đó đã gặp vấn đề với tiếng xấu.</span>
                </p>
                <p class="reading-text-paragraph" style="">
                    <span class="paragraph-sentence">Sadra Marcus đã có thể đưa Kentoch thoát khỏi sụp đổ tài chính sau một sự kiện tương tự vào cuối những năm 80 và trở thành một chuyên gia về tài chính nổi tiếng. Marcus rời khỏi Kentoch năm 2001 để đẫn chương trình tài chính của bà
                        trên mạng World News. Sau khi rời khỏi chương trình vào tháng Một, ông John Thompson, Giám đốc trước đây của Crantel đã thuyết phục bà Marcus đảm nhận vị trí này.</span>
                </p>
            </div>
            <div class="content-transcript">
                <p class="reading-text-paragraph" style="">
                    <span class="paragraph-sentence">Sandra Marcus named CFO of Crantel, Inc.</span>
                    <span class="paragraph-sentence">Crantel Inc. has announced that it has chosen former Kentoch CFO, Sandra Marcus, to head its revamped financial element starting July 3.</span>
                    <span class="paragraph-sentence">Vice-president of public relations, Nick Tucker, said yesterday. "
                        <span class="q149-1">Ms. Marcus has had enormous success turning Kentoch into a highly profitable company, and we look forward to adding Sandra to our troubled company into the premier toy manufacturer of Scotland.</span>"</span>
                    <span class="paragraph-sentence">"Sandra Marcus has demonstrated her ability time and time again by increasing sales, revenue, and consumership." Tucker went on to say, "We are excited about working with Ms. Marcus and feel confident that she can provide the aid and
                        inspiration needed to turn Crantel into a profitable company again."</span>
                </p>
                <p class="reading-text-paragraph" style="">
                    <span class="paragraph-sentence">Crantel, Inc. has experienced a number of successful years since its inception in 1984. Up until the late 1990s, the toy manufacturer was among the top 5 in all of Europe and had expanded toy lines into Asia and North America.
                        <span
                            class="q150-1">Sales troubles began when a lawsuit emerged from a customer claiming that one of Crantel's most popular toys had nearly killed her 8-year-old son.</span> The suit was settled, and the mother admitted that her son may have caused
                    the accident himself. The public was not forgiving, however, and the company has since been significantly troubled from the negative publicity.</span>
                </p>
                <p class="reading-text-paragraph" style="">
                    <span class="paragraph-sentence">Sandra Marcus was able to bring Kentoch out of financial ruins after a similar public catastrophe in the late 80s and became a highly recognized and respected financial guru. Marcus left Kentoch in 2001 to host her own financial program
                        on the World News Network. After she retired from the program in January, former CFO,
                        <span class="q151-1">John Thompson, retired from Crantel and actively pursued Marcus for the position.</span>
                    </span>
                </p>
            </div>
        </div>
    </li>
    <li style="width: 50%;">
        <ol class="mcqs-wrapper">
            <li id="mcq-0" class="mcq-wrapper">
                <div class="mcq-question">According to Mr. Tucker, why has Crantel hired Ms. Marcus?
                    <span class="question-translation"> → Theo ông Tucker, tại sao Crantel thuê cô Marcus?</span>
                </div>
                <ul class="options">
                    <li>
                        <input type="radio" id="mcq-0-option-A" name="mcq-0-option" value="A" disabled="">
                        <label for="mcq-0-option-A">(A) Because she is a famous television personality.</label>
                        <span class="option-translation"> → Bởi vì cô ấy là một người nổi tiếng trên truyển hình.</span>
                    </li>
                    <li>
                        <input type="radio" id="mcq-0-option-B" name="mcq-0-option" value="B" disabled="">
                        <label for="mcq-0-option-B">(B) Because she has experience working for toy companies.</label>
                        <span class="option-translation"> → Bởi vì cô ấy có kinh nghiệm làm việc cho công ty đồ chơi.</span>
                    </li>
                    <li>
                        <input type="radio" id="mcq-0-option-C" name="mcq-0-option" value="C" disabled="">
                        <label for="mcq-0-option-C" class="correct-option">(C) Because she has been successful helping companies with economic troubles.</label>
                        <img class="correct-icon" src="/static/ToeicTests/images/correct_answer_icon.png">
                        <span class="option-translation"> → Bởi vì cô ấy đã rất thành công trong việc giúp các công ty có vấn đề về tài chính.</span>
                    </li>
                    <li>
                        <input type="radio" id="mcq-0-option-D" name="mcq-0-option" value="D" disabled="">
                        <label for="mcq-0-option-D">(D) Because she is the nations leading author writing about corporate lawsuits.</label>
                        <span class="option-translation"> → Bởi vì cô ấy là tác giả hàng đầu trong nước viết về các vụ kiện của các công ty.</span>
                    </li>
                </ul>
                <div class="explanation">Ta thấy ý này trong câu sau: "
                    <span class="quote quote-q149-1">Ms. Marcus has had enormous success turning Kentoch into a highly profitable company, and we look forward to adding Sandra to our troubled company into the premier toy manufacturer of Scotland.</span>"</div>
            </li>
            <li id="mcq-1" class="mcq-wrapper">
                <div class="mcq-question">How did Crantel lose its customer base?
                    <span class="question-translation"> → Crantel mất khách hàng như thế nào?</span>
                </div>
                <ul class="options">
                    <li>
                        <input type="radio" id="mcq-1-option-A" name="mcq-1-option" value="A" disabled="">
                        <label for="mcq-1-option-A" class="wrong-option">(A) They did not provide enough products for their patrons</label>
                        <img class="wrong-icon" src="/static/ToeicTests/images/wrong_answer_icon.png">
                        <span class="option-translation"> → Họ không cung cấp đủ sản phẩm cho khách hàng thân thiết của họ.</span>
                    </li>
                    <li>
                        <input type="radio" id="mcq-1-option-B" name="mcq-1-option" value="B" disabled="">
                        <label for="mcq-1-option-B" class="correct-option">(B) The company was accused of having harmful products.</label>
                        <span class="option-translation"> → Công ty bị buộc tội vì các sản phẩm có hại.</span>
                    </li>
                    <li>
                        <input type="radio" id="mcq-1-option-C" name="mcq-1-option" value="C" disabled="">
                        <label for="mcq-1-option-C">(C) Executives were involved in a corporate embezzlement scandal.</label>
                        <span class="option-translation"> → Các nhà điều hành có liên quan tới vụ thụt két trong công ty.</span>
                    </li>
                    <li>
                        <input type="radio" id="mcq-1-option-D" name="mcq-1-option" value="D" disabled="">
                        <label for="mcq-1-option-D">(D) Employees held a strike and production was paused.</label>
                        <span class="option-translation"> → Các nhân viên tổ chức đình công và việc sản xuất bị ngưng trệ.</span>
                    </li>
                </ul>
                <div class="explanation">Ta thấy ý này trong câu: "
                    <span class="quote quote-q150-1">Sales troubles began when a lawsuit emerged from a customer claiming that one of Crantel's most popular toys had nearly killed her 8-year-old son.</span>"</div>
            </li>
            <li id="mcq-2" class="mcq-wrapper">
                <div class="mcq-question">What did John Thompson do upon retiring?
                    <span class="question-translation"> → John Thompson đã làm gì khi nghỉ hưu?</span>
                </div>
                <ul class="options">
                    <li>
                        <input type="radio" id="mcq-2-option-A" name="mcq-2-option" value="A" disabled="">
                        <label for="mcq-2-option-A" class="correct-option">(A) He appealed to Sandra Marcus to take over.</label>
                        <img class="correct-icon" src="/static/ToeicTests/images/correct_answer_icon.png">
                        <span class="option-translation"> → Ông ta thuyết phục Sandra Marcus thay thế.</span>
                    </li>
                    <li>
                        <input type="radio" id="mcq-2-option-B" name="mcq-2-option" value="B" disabled="">
                        <label for="mcq-2-option-B">(B) He gave a speech about Crantel.</label>
                        <span class="option-translation"> → Ông ta diễn thuyết về Crantel.</span>
                    </li>
                    <li>
                        <input type="radio" id="mcq-2-option-C" name="mcq-2-option" value="C" disabled="">
                        <label for="mcq-2-option-C">(C) He made a statement to the press.</label>
                        <span class="option-translation"> → Ông ta thông báo với báo chí.</span>
                    </li>
                    <li>
                        <input type="radio" id="mcq-2-option-D" name="mcq-2-option" value="D" disabled="">
                        <label for="mcq-2-option-D">(D) He took over a financial talk show.</label>
                        <span class="option-translation"> → Ông ta đảm nhận một chương trình trò chuyện về tài chính.</span>
                    </li>
                </ul>
                <div class="explanation">Ta thấy ý này trong câu: "
                    <span class="quote quote-q151-1">John Thompson, retired from Crantel and actively pursued Marcus for the position.</span>"</div>
            </li>
        </ol>
        <button class="submit-btn oval-btn submit-answers" style="display: none;">Nộp bài</button>
    </li>
</ul>
</body>
</html>