/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Customize ducxinh*/
:focus {
    outline: 0;
}
a {
    text-decoration:  none;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    clear: both;
    display: block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.fl_left {
    float: left;
}
.fl_right {
    float: right;
}
/* End Customize ducxinh*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body,
html {
  background: #fff;
  color: #fff;
  font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 13px;
  line-height: 1.5rem;
  font-weight: 300;
  overflow: hidden;
}

input,
select,
button,
textarea,
.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  padding: .5rem .6rem;
  border-radius: .2rem;
}

input:required,
input:invalid,
select:required,
select:invalid,
button:required,
button:invalid,
textarea:required,
textarea:invalid,
.btn:required,
.btn:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input.dirty,
select.dirty,
button.dirty,
textarea.dirty,
.btn.dirty {
  background: #fff5b0;
}

input[type="search"],
select[type="search"],
button[type="search"],
textarea[type="search"],
.btn[type="search"] {
  border-radius: 12px;
  height: 24px;
  padding: 0 .5rem;
}

input[type="text"],
select[type="text"],
button[type="text"],
textarea[type="text"],
.btn[type="text"] {
  display: block;
}

input:focus,
select:focus,
button:focus,
textarea:focus,
.btn:focus {
  outline: none !important;
}

input::-moz-focus-inner,
select::-moz-focus-inner,
button::-moz-focus-inner,
textarea::-moz-focus-inner,
.btn::-moz-focus-inner {
  border: 0 !important;
}

input[type="checkbox"] {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0;
  background: transparent;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 16px;
  margin: -4px 4px 0 0;
  outline: 0;
  padding: 0 !important;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  min-width: 16px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background: #fff;
}

input[type="checkbox"]:before {
  font-family: FontAwesome;
  color: #ff7d2e;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  line-height: 1.3rem;
  text-align: center;
}

input[type="checkbox"]:checked:before {
  content: "\F00C";
}

input[type="checkbox"]:indeterminate:before {
  content: "\F068";
}

a,
a:link,
a:visited {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.clear::after,
.clearfix::after {
  content: " ";
  clear: both;
  display: block;
}

.side {
  width: 256px;
}

.ir {
  color: transparent;
  font: 0/0 serif;
}

.control {
  cursor: pointer;
  color: #333;
}

.control:hover {
  color: #fff;
}

p {
  line-height: 1.5rem;
}

em {
  font-style: italic;
}

.help {
  opacity: .7;
  font-size: .9rem;
  line-height: 1.3rem;
}

label {
  font-size: 1.1rem;
  margin-bottom: 8px;
  display: block;
}

label.small {
  font-size: 1rem;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.btn {
  background: #0191f7;
  color: #fff;
  font-size: 1rem;
  padding: .6rem 1rem;
  cursor: pointer;
}

button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.btn:active {
  -webkit-box-shadow: inset 0px 10px 10px -10px black;
          box-shadow: inset 0px 10px 10px -10px black;
}

button.btn-green,
input[type="submit"].btn-green,
input[type="reset"].btn-green,
input[type="button"].btn-green,
.btn.btn-green {
  background-color: #56a052;
}

button.btn-green:hover,
input[type="submit"].btn-green:hover,
input[type="reset"].btn-green:hover,
input[type="button"].btn-green:hover,
.btn.btn-green:hover {
  background-color: #447e41;
}

button.btn-white,
input[type="submit"].btn-white,
input[type="reset"].btn-white,
input[type="button"].btn-white,
.btn.btn-white {
  background-color: #fff;
  color: #333;
}

button.btn-white:hover,
input[type="submit"].btn-white:hover,
input[type="reset"].btn-white:hover,
input[type="button"].btn-white:hover,
.btn.btn-white:hover {
  background-color: #e6e5e5;
}

button.btn-red,
input[type="submit"].btn-red,
input[type="reset"].btn-red,
input[type="button"].btn-red,
.btn.btn-red {
  background-color: #c34848;
}

button.btn-red:hover,
input[type="submit"].btn-red:hover,
input[type="reset"].btn-red:hover,
input[type="button"].btn-red:hover,
.btn.btn-red:hover {
  background-color: #a33535;
}

button.btn-blue,
input[type="submit"].btn-blue,
input[type="reset"].btn-blue,
input[type="button"].btn-blue,
.btn.btn-blue {
  background-color: #4c769a;
}

button.btn-blue:hover,
input[type="submit"].btn-blue:hover,
input[type="reset"].btn-blue:hover,
input[type="button"].btn-blue:hover,
.btn.btn-blue:hover {
  background-color: #3b5c78;
}

button.btn-grey,
input[type="submit"].btn-grey,
input[type="reset"].btn-grey,
input[type="button"].btn-grey,
.btn.btn-grey {
  background-color: #3c3c3c;
}

button.btn-grey:hover,
input[type="submit"].btn-grey:hover,
input[type="reset"].btn-grey:hover,
input[type="button"].btn-grey:hover,
.btn.btn-grey:hover {
  background-color: #232222;
}

button.btn-orange,
input[type="submit"].btn-orange,
input[type="reset"].btn-orange,
input[type="button"].btn-orange,
.btn.btn-orange {
  background-color: #ff7d2e;
}

button.btn-orange:hover,
input[type="submit"].btn-orange:hover,
input[type="reset"].btn-orange:hover,
input[type="button"].btn-orange:hover,
.btn.btn-orange:hover {
  background-color: #fa5e00;
}

.tabs .header {
  border-bottom: 1px solid #5c5c5c;
}

.tabs .header a {
  padding: .6rem 1rem;
  margin-left: 4px;
  border-radius: 4px 4px 0 0;
  text-transform: uppercase;
  color: #dcdbdb;
  opacity: .4;
  border: 1px solid #5c5c5c;
  margin-bottom: -1px;
  float: left;
}

.tabs .header a.active {
  border-bottom: 1px solid #212121;
  opacity: 1;
}

.tabs .panes {
  padding: 16px 0;
}

.tabs.tabs-white .header {
  border-bottom-color: #aaa;
}

.tabs.tabs-white .header a {
  color: #333;
  border-color: #aaa;
}

.tabs.tabs-white .header a.active {
  border-bottom-color: #fff;
}

.form-row {
  margin-top: 16px;
  position: relative;
}

._hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay form {
  position: relative;
  width: 100%;
  max-width: 460px;
  background: #fff;
  border-radius: 5px;
  color: #333;
}

.overlay form input[type="checkbox"] {
  border: 1px solid #ccc;
}

.overlay form .form-row:first-child {
  margin-top: 0;
}

.overlay form > header,
.overlay form > div,
.overlay form > footer {
  padding: 16px;
}

.overlay form > div {
  padding-bottom: 0;
}

.overlay form input[type="text"],
.overlay form input[type="number"],
.overlay form input[type="email"],
.overlay form input[type="password"],
.overlay form input[type="url"],
.overlay form textarea {
  border: 1px solid #ccc;
  width: 100%;
  max-width: 100%;
}

.overlay form input[type="text"]:focus,
.overlay form input[type="number"]:focus,
.overlay form input[type="email"]:focus,
.overlay form input[type="password"]:focus,
.overlay form input[type="url"]:focus,
.overlay form textarea:focus {
  border-color: #ff7d2e;
}

.overlay form .warning {
  color: #f00;
}

.overlay form textarea {
  min-height: 192px;
}

.overlay form > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eee;
  border-radius: 5px 5px 0 0;
}

.overlay form > header h1 {
  line-height: 2.2rem;
  margin-bottom: .3rem;
}

footer {
  background-color: #33383c;
  padding: 30px 0px;
}

.search-text {
  margin-top: 50px;
  background-color: #272d33;
  padding-top: 60px;
  padding-bottom: 60px;
}

.search-text .input-search {
  height: 45px;
  width: 40%;
  padding-left: 20px;
  color: #333;
}

.search-text .btn-search {
  background: #da3e44;
  font-family: Roboto;
  border: none;
  color: #FFF;
  height: 45px;
  width: 80px;
}

.search-text h4 {
  color: #FFF;
  font-weight: 700;
}

.logo {
  color: #FFF;
  font-weight: 800;
  font-size: 30px;
}

.adress span,
.menu span {
  color: #FFF;
  font-weight: 800;
  border-bottom: 1px solid #c7c7c7;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
}

.adress li a,
.menu li a {
  color: #FFF;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 12px;
}

.adress li,
.menu li {
  margin-top: 5px;
  list-style: none;
}

.adress li a:hover,
.menu li a:hover {
  color: #da3e44;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.adress .fa {
  color: #da3e44;
  margin-right: 10px;
  font-size: 14px;
}

/*END media (min-width: 768px) */

._collapse {
  display: none;
}

._nav-top ul._nav a,
._nav-top a._navbar-brand {
  font-size: 1.2em;
}

._nav-top a:hover {
  color: #69b241;
}

._navbar-default ._navbar-toggle {
  border-color: #ddd;
}

._navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

._navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

._navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

._nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

._navbar-header > a {
  font-size: 85%;
}

._navbar-default {
  border-color: #e7e7e7;
}

._navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

._navbar ul {
  list-style: none;
}

._navbar-default {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

._sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

._navbar-default ._navbar-toggle ._icon-bar {
  background-color: #888;
}

._navbar-toggle ._icon-bar + ._icon-bar {
  margin-top: 4px;
}

._navbar-toggle ._icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.container-fluid > ._navbar-collapse,
.container-fluid > ._navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}

._navbar-collapse._in {
  overflow-y: auto;
}

._collapse._in {
  display: block;
}

._navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

._collapse {
  display: none;
}

ul._navbar-nav {
  padding: 0 20px 0 20px;
}

._navbar-default ._navbar-collapse,
._navbar-default {
  border-color: #e7e7e7;
}

._navbar-header:after {
  display: table;
  content: "";
  clear: both;
}

._container-fluid > ._navbar-collapse,
._container-fluid > ._navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}

nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@media (min-width: 910px) {
  ._navbar-collapse._collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  ._navbar-toggle {
    display: none;
  }

  ._navbar-header {
    float: left;
  }
}

@media (max-width: 768px) {
  #_navbar > ul > li {
    border-bottom: 1px solid #e2d1d1;
  }
}

@media (min-width: 768px) {
  ._navbar {
    border-radius: 4px;
  }

  ._navbar-collapse,
  ._navbar-header {
    margin-right: 0;
    margin-left: 0;
  }

  ._navbar-nav {
    float: left;
    margin: 0;
  }

  ._navbar-nav > li {
    float: left;
  }

  ._navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /*  ._navbar-collapse._collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
  }*/

  ._navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

h1 {
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

h3 {
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

h4 {
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

h5 {
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

h6 {
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

p {
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

._row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  ._container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  ._container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  ._container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  ._container {
    max-width: 1140px;
  }
}

._container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

