@mixin vertical-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin html-heading($element, $font-size, $margin-before, $margin-after, $margin-start, $margin-end, $font-weight) {
    &#{$element} {
        font-size: 2em;
        -webkit-margin-before: 0.67em;
        -webkit-margin-after: 0.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
    }
}

@mixin artist-album-info-wrapper() {
  .loading {
    @include vertical-center();
    height: 100%;
  }

  .info-wrapper {
    color: $color2ndText;
    position: absolute;
    top: 0;
    left: 0;
    background: $colorMainBgr;
    width: 100%;
    height: 100%;
    z-index: 2;

    .close {
      position: absolute;
      right: 0;
      top: 0;
      background: $colorRed;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      color: #fff;
      opacity: 0;
      transition: opacity .3s;

      html.touchevents & {
        opacity: 1;
      }
    }

    &:hover .close {
      opacity: 1;
    }

    .inner {
      padding: 24px;
      overflow: auto;
      height: 100%;
      padding-bottom: 48px;

      @media only screen and (max-width: 768px) {
        padding: 16px;
      }
    }
  }
}

@mixin inset-when-pressed() {
  &:active {
    box-shadow: inset 0px 10px 10px -10px rgba(0,0,0,1);
  }
}